@use '../abstracts/colors' as a;

.nav-btn {
  color: a.$navy;
  border: 1px solid a.$navy;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  transition: .4s;

  &:hover {
    color: a.$white;
    background-color: a.$navy;
    transition: .4s;
  }
}

.main-btn {
  color: a.$white;
  background-color: a.$navy;
  padding: 1rem;
  width: 250px;
  font-weight: 700;
  border-radius: 8px;
  transition: .4s;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 1.5rem;
  }

  &:hover {
    background-color: a.$sky;
  }
}

#form-btn {
  color: a.$white;
  background-color: a.$navy;
  padding: 1rem;
  width: 100%;
  font-weight: 700;
  border-radius: 8px;
  transition: .4s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;

  i {
    font-size: 1.5rem;
  }

  &:hover {
    background-color: a.$sky;
  }
}
