@use '../abstracts/colors' as a;

.main-btn {
  color: a.$white;
  background-color: a.$navy;
  padding: 1rem;
  width: 250px;
  font-weight: 700;
  border-radius: 8px;
  transition: .4s;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 1.5rem;
  }

  &:hover {
    background-color: a.$sky;
  }
}

#form-btn {
  color: a.$white;
  background-color: a.$red;
  padding: .8rem;
  width: 100%;
  font-weight: 700;
  border-radius: 4px;
  transition: .4s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;

  i {
    font-size: 1.5rem;
  }

  &:hover {
    background-color: a.$dark-red;
  }
}
