@use '../abstracts/colors' as a;
@forward '../general/container';

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.red {
  color: a.$red;
}